.manifest-info {
	.main-info {
		@include border-radius(10px 10px 0 0);
		border: 2px $primary-color solid;
		padding: 10px;

		h2 {
			text-align: left;
			padding-top: 0;
			@include font-size($xlarge);
		}
	}

	.versions > li {
		border: 2px $primary-color solid;
		padding: 10px;

		.github-info {
			float: right;
		}

		&:last-child {
			@include border-radius(0 0 10px 10px);
		}
	}
}
